[submodule "anchor-bank"]
	path = anchor-bank
	url = https://github.com/Arpit-Khandelwal/anchor-bank-vault.git
	branch = main
[submodule "bank-fe"]
	path = bank-fe
	url = https://github.com/Arpit-Khandelwal/bank-vault-fe.git
	branch = master
